---
layout: layouts/default.liquid
title: About Page
---
<h1>{{title}} </h1>

<p>Hi my name is Malsini and I'm a 3rd year computer programming student.</p>

<p>Working with liquid has been interesting so far and I chose that particular templating language because of its ease of use.</p>
<p>I have hands-on experience with languages such as Python, C#, Java, JavaScript, and I'm currently learning about static site generators.</p>
<p>I've also previously worked with databases such as MySQL and MongoDB. I am comfortable working with mainframes as well as I know the language Cobol. </p>
<p>I'm currenly studing in Durham College as a 3rd year Computer Programming and Analysis student.</p>
<p>As you can see, I'm really into horror movies, I like watching thrillers as well. In my downtime I like to read webtoons.</p>
<p>Here's an email for you to contact me - malsinimasachchige@gmail.com</p>

