---
layout: layouts/default.liquid
title: Home Page
---
<h1>{{title}} </h1>
<hr>
<p>Hello, this website is part of an assignment for the INFT3102 - Web Development Frameworks class.
    This static site is built on 11ty, with liquid as a templating language and uses Strapi API to fetch data
    to the font end.<p>