---
layout: layouts/default.liquid
title: Home Page
---
<h1>{{title}} </h1>
<hr>
<p>Hello, this website was created as course requirement for INFT310 - Mobile Development class.
    This static site is built on 11ty, with liquid as a templating language and uses Contentful API to fetch data
    to the font end.<p>